.difficult-level {
  min-height: 100vh;
  overflow: auto;
  padding: 75px 0;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.difficult-level .difficult-level-wrap {
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.difficult-level .difficult-level-wrap button {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 25px;
  max-width: 275px;
}
.difficult-level .hardcore-mode {
  text-align: center;
}
body.black-theme .difficult-level .hardcore-mode button.ant-switch {
  background-color: rgba(255, 255, 255, 0.5);
}
body.black-theme .difficult-level .hardcore-mode button.ant-switch-checked {
  background-color: #1890ff;
}
