.all-setting-music {
  margin-bottom: 15px;
}
.all-setting-music p{
  font-size: 20px;
  margin: auto;
}
.setting-music {
  background: none;
  border: none;
  font-size: 24px;
  position: relative;
}
.setting-music.music-off::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 5px;
  background: #000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotate(-45deg);
}