.card.flip-block{
  padding: 7px;
}
.card.flip-block .flip-card{
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
}
.card.flip-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* fron side */
.card.flip-block .front-side{
  border: 2px solid #000;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.easy.flip-block .front-side{
  background: #32D4E2;
}
.card.middle.flip-block .front-side{
  background: #E66A46;
}
.card.hard.flip-block .front-side{
  background: #FACE50;
}
.card.flip-block .front-side span{
  font-size: 48px;
}

/* back side */
.card.flip-block .back-side{
  cursor: default;
  border: 2px solid #000;  
}
.card.flip-block.is-find-couple .back-side {
  border-color: #00CC00;
}
.card.flip-block.is-find-couple .back-side::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .75);
  top: 0;
  left: 0;
}
.card.flip-block .back-side svg[data-icon="check-square"]{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 52px;
  color: #00CC00;
}