.card.flip-block{
  padding: 7px;
}
.card.flip-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.flip-block .front-side{
  border: 2px solid #000;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.easy.flip-block .front-side{
  background: #32D4E2;
}
.card.middle.flip-block .front-side{
  background: #E66A46;
}
.card.hard.flip-block .front-side{
  background: #FACE50;
}
.card.flip-block .front-side span{
  font-size: 48px;
}