@charset "utf-8";
@import url('./reset-styles.css');
@import url('./standarts-fonts.css');

body {
	overflow-x: hidden;
  background: #fff9f9;
  color: #000;
  background: url(../img/bg-game.jpg);
  min-height: 100vh;
}

/* container */
.container {
  width: 1320px;
}
.container-fluid {
  width: 100%;
}
.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1399px) {
  .container {
    width: 1180px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}

/* clearfix */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* buttons */
.btn {
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 16px;
  letter-spacing: 5px;
  transition: .2s ease-in-out;
  height: 60px;
  padding: 0 15px;
}
.btn::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .25s ease;
  transform: translate(0, 0);
}
.btn:hover::before {
  transform: translate(4px, 4px);
}

.btn-blue {
  color: #232323;
}
.btn-blue::before {
  background: #32D4E2;
}

button:focus, .btn:focus, a:focus {
  outline: none;
  box-shadow: none;
}

/* title */
.title {
  margin-bottom: 35px;
}
.title h1 {
  font-size: 48px;
  text-align: center;
}
.title p.text-under-title {
  font-size: 24px;
  text-align: center;
}